.main {
    display: inline-block;
    margin: 20px 50px 0 20px;
    vertical-align: top;
    
}

label {
    font-weight: bold;
    display: inline-block;
    margin-bottom: 10px;
}

.form {
    margin-bottom: 30px;
}


#result {
    
    width: 420px;
    height: 300px;
    
}