body {
	font-size:16px;
}
#header {
	margin-left: 15px;
}
.alert {
	color: red;
}

.weather thead tr:first-child {
	font-size: 1em;
	text-align: left;
	background-color:#99FF99 !important;
}

.weather th img,
.weather td img {
    vertical-align: middle;
	margin-left: 10px;
}

.weather th,
.weather td {
    vertical-align: middle;
	padding: 10px;
}

.weather tr:nth-child(even) {
	background-color:#99FF99;
}

.weather tr:nth-child(odd) {
	background-color:#99FFFF;
}

#div__weather, #div__graphics {
	width: 50%;
	box-sizing: border-box;
	float: left; 
}

#div__weather h1, #div__weather h2 {
	margin-left: 10px;
}
.graphics {
	width: 96%;
	height: 400px;
	border-spacing:0px;
	border-collapse: collapse;
}

.weather {
	width: 96%;
	height: 400px;
	border-spacing:0px;
	margin-left: 10px;
	
}
.graphics tr:nth-child(1) td {
	border-top: 0;
	position: relative;
}

.graphics td {
	border-top: 1px solid gainsboro;
	position: relative;
}

.graphics td:nth-child(1) {
	vertical-align: bottom;
}

.rectangle__min {
    border-left: 30px solid cornflowerblue;
    position: absolute;
	bottom: 0;
}
.rectangle__max {
    border-left: 30px solid gold;
	position: absolute;
	bottom: 0;
	left: 30px;
}

.text__min {
	color: white;
	z-index: 1;
	position: absolute;
	font-size: xx-small;
	/* padding-left: 2px; */
	align-items: center;
}

